{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Email Enviado</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="login-page-body">
    <div class="login-card" style="text-align: center;">
        <img src="{% static 'img/logofixsi.png' %}" alt="Logo Fixsi" class="login-logo">
        <img src="{% static 'img/boneco.png' %}" alt="Ícone" class="user-icon">
        
        <h2 class="card-title" style="color: var(--orange);">EMAIL ENVIADO</h2>
        <p style="margin-bottom: 25px; color: #6D6666; line-height: 1.5;">
            Os passos para redefinir a senha foram enviados no email informado.
        </p>
        
        <a href="{% url 'login' %}" class="btn-login">Voltar ao login</a>
    </div>
</body>
</html>