{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Esqueci a Senha</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
</head>
<body class="login-page-body">
    <a href="{% url 'login' %}" class="back-button">Voltar</a>
    <div class="login-card">
        <img src="{% static 'img/logofixsi.png' %}" alt="Logo Fixsi" class="login-logo">
        <img src="{% static 'img/boneco.png' %}" alt="Ícone" class="user-icon">
        <h2 class="card-title">ESQUECI A SENHA</h2>
        <p style="text-align: center; margin-bottom: 20px; color: #6D6666;">Digite o e-mail cadastrado</p>

        <form method="POST" class="login-form">
            {% csrf_token %}
            
            {{ form.email }} 
            
            <button type="submit" class="btn-login">Enviar e-mail</button>
        </form>
    </div>
</body>
</html>