{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Redefinindo Senha</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="login-page-body">
    <div class="login-card">
        <img src="{% static 'img/logofixsi.png' %}" alt="Logo Fixsi" class="login-logo">
        <img src="{% static 'img/boneco.png' %}" alt="Ícone" class="user-icon">
        <h2 class="card-title">ESQUECI A SENHA</h2>

        <form method="POST" class="login-form">
            {% csrf_token %}
            
            {{ form.as_p }} 
            
            <button type="submit" class="btn-login">Confirmar</button>
        </form>
    </div>
</body>
</html>