{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Senha Redefinida</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="login-page-body">
    <div class="login-card" style="text-align: center;">
        <img src="{% static 'img/logofixsi.png' %}" alt="Logo Fixsi" class="login-logo">
        <img src="{% static 'img/boneco.png' %}" alt="Ícone" class="user-icon">
        
        <h2 class="card-title" style="color: var(--orange);">SENHA REDEFINIDA!</h2>
        
        <a href="{% url 'login' %}" class="btn-login" style="margin-top: 20px;">Voltar ao login</a>
    </div>
</body>
</html>